.box {
  position: relative;
  top: 30px;
  width: 445px;
  height: 157px;
}

.header {
  width: 445px;
  height: 48px;
  top: calc(50% - 48px / 2 - 54.5px);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.5px;
  margin-left: 125px;
  margin-bottom: 19px;
}

.content {
  width: 445px;
  height: 90px;
  top: calc(50% - 90px / 2 + 33.5px);
  margin-left: 125px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 60px;
  margin-top: 0px;
}

@media (max-width: 1400px) {
  .header {
    font-size: 40px;
  }
}
@media (max-width: 1120px) {
  .box {
    width: 457px;
  }
  .header {
    margin: 0px;
    margin-bottom: 19px;
    text-align: center;
  }
  .content {
    margin: 0px;
    margin-bottom: 60px;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .box {
    width: 327px;
    height: 262px;
    left: calc((100% - 327px) / 2);
    top: -20px;
  }
  .header {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.4px;
    width: 327px;
  }
  .content {
    font-size: 16px;
    line-height: 26px;
    height: 104px;
    width: 327px;
    margin-bottom: 27px;
  }
}
