.header {
  background-color: #111111;
  height: 820px;
  width: 100%;
  background-image: url(../../../images/homepage/hero-bg-desktop.jpg);
  background-position-x: right;
  background-repeat: no-repeat;
}

.logo {
  width: 103px;
  height: 40px;
}

.headerDishImg {
  height: 820px;
}

.box {
  position: absolute;
  width: 507px;
  height: 557px;
  left: 165px;
  top: 65px;
}

.descriptionBox {
  height: px;
  color: #ffffff;
  font-family: "League Spartan";
  text-align: left;
  display: flex;
  flex-direction: column;
}

.descriptionHeader {
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -1px;
  margin-bottom: 10px;
  margin-top: 153px;
}

.descriptionText {
  height: 90px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.button {
  margin-top: 40px;
  width: 245px;
  height: 64px;
  background: none;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 2.5px;
  line-height: 16px;
  float: left;
}

.button:hover {
  background-color: #ffffff;
  color: #111111;
  cursor: pointer;
}

@media (max-width: 1210px) {
  .descriptionText {
    width: 400px;
  }
}

@media (max-width: 1120px) {
  .header {
    background-image: url(../../../images/homepage/hero-bg-tablet.jpg);
    background-position: 0 -50px;
    background-size: cover;
    background-color: #17192b;
    height: 992px;
    width: 100%;
  }
  .box {
    position: absolute;
    width: 689px;
    height: 402px;
    top: 394px;
    left: calc((100% - 689px) / 2);
  }
  .logo {
    position: relative;
    left: calc((100% - 103px) / 2);
    top: 0px;
  }
  .descriptionBox {
    height: 128px;
    text-align: center;
    align-items: center;
  }
  .button {
    margin: 0px;
  }
  .descriptionHeader {
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.6px;
    margin-bottom: 20px;
    margin-top: 78px;
  }
  .descriptionText {
    height: 60px;
    margin-bottom: 52px;
    width: 573px;
  }
}

@media (max-width: 740px) {
  .header {
    background-position: bottom;
  }
  .box {
    width: 500px;
    left: calc((100% - 500px) / 2);
  }
  .descriptionBox {
    height: 402px;
  }
  .descriptionText {
    width: 500px;
    height: 90px;
  }
}

@media (max-width: 600px) {
  .header {
    background-image: url(../../../images/homepage/hero-bg-mobile@2x.jpg);
    background-position: 0 -50px;
    height: 748px;
  }
  .box {
    top: 250px;
    width: 327px;
    left: calc((100% - 327px) / 2);
  }
  .descriptionHeader {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.4px;
    margin-top: 68px;
    margin-bottom: 21px;
  }
  .descriptionText {
    width: 327px;
    height: 78px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 53px;
  }
}
