.fieldBox {
  width: 444px;
  height: 43px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 9px;
}

.labelBox {
  width: 92px;
  height: 38px;
  color: #111111;
}

.labelBoxError {
  width: 92px;
  height: 38px;
  color: #b54949;
}

.errorMessage {
  color: #b54949;
  font-weight: 500;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: -0.125px;
}

.numberInputsBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 289px;
}

@media (max-width: 600px) {
  .fieldBox {
    width: 263px;
    height: 85px;
    flex-direction: column;
    align-items: flex-start;
  }
  .numberInputsBox {
    width: 263px;
  }
  .labelBox {
    height: 38px;
  }
  .labelBoxError {
    height: 38px;
  }
  .errorMessage {
    width: 120px;
  }
}
