.box {
  display: flex;
  font-family: "League Spartan";
  width: 100%;
  height: 720px;
  left: 895px;
  top: 1070px;
  background-image: url(../../../images/patterns/pattern-curve-top-left.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 895px 320px;
}

.picture {
  position: absolute;
  width: 540px;
  height: 720px;
  /* left: 735px; */
  top: 1591px;
  right: 165px;
}

.descriptionBox {
  position: absolute;
  width: 445px;
  height: 275px;
  right: 830px;
  top: 1791px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.divideIcon {
  height: 7px;
  width: 71px;
  left: 799px;
  top: 995px;
  border-radius: 0px;
  margin-bottom: 55px;
}

.header {
  height: 96px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #242b37;
  margin-bottom: 27px;
}

.content {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #242b37;
}

.patternLines {
  position: absolute;
  width: 160px;
  height: 76px;
  right: 51px;
  top: 1873px;
}
