.box {
  display: flex;
  font-family: "League Spartan";
  width: 100%;
  height: 720px;
  left: 895px;
  top: 1070px;
  background-image: url(../../../images/patterns/pattern-curve-top-left.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 895px 320px;
}

.picture {
  position: absolute;
  width: 100%;
  max-width: 540px;
  height: 720px;
  top: 1591px;
  right: 165px;
}

.descriptionBox {
  position: absolute;
  width: 445px;
  height: 275px;
  right: 830px;
  top: 1791px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.divideIcon {
  height: 7px;
  width: 71px;
  left: 799px;
  top: 995px;
  border-radius: 0px;
  margin-bottom: 55px;
}

.header {
  height: 96px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #242b37;
  margin-bottom: 27px;
}

.content {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #242b37;
  margin: 0px;
}

.patternLines {
  position: absolute;
  width: 160px;
  height: 76px;
  right: 51px;
  top: 1873px;
}

@media (max-width: 1400px) {
  .box {
    height: 620px;
  }
  .picture {
    width: 440px;
    height: 620px;
    left: calc(100vw / 2);
    top: 1500px;
  }
  .descriptionBox {
    width: 350px;
    height: 300px;
    right: calc((100vw / 2) + 100px);
    top: 1600px;
  }
  .header {
    font-size: 40px;
  }
  .patternLines {
    position: relative;
    top: 282px;
    left: calc((100vw - 790px) / 2 + 790px);
  }
}

@media (max-width: 1120px) {
  .box {
    display: flex;
    flex-direction: column;
    background-position: 384px bottom;
    height: 723px;
  }
  .picture {
    width: 573px;
    height: 360px;
    top: 1689px;
    left: calc((100% - 573px) / 2);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .descriptionBox {
    justify-content: flex-end;
    width: 573px;
    height: 675px;
    left: calc((100% - 573px) / 2);
    top: 1689px;
    text-align: center;
  }
  .content {
    margin: 0px;
    width: 457px;
    height: 90px;
    margin-left: calc((100% - 457px) / 2);
  }
  .divideIcon {
    margin-bottom: 39px;
    margin-top: 56px;
    align-self: center;
  }
  .patternLines {
    left: calc((100vw - 540px) / 2 + 440px);
    top: 140px;
  }
}

@media (max-width: 740px) {
  .box {
    height: 747px;
  }
  .patternLines {
    left: calc((100vw - 540px) / 2 + 400px);
    top: 170px;
  }
  .picture {
    width: 500px;
    height: 320px;
    left: calc((100% - 500px) / 2);
    top: 1650px;
  }
  .descriptionBox {
    top: 1600px;
  }
}

@media (max-width: 600px) {
  .box {
    background-image: none;
    margin-bottom: 71px;
  }
  .descriptionBox {
    position: absolute;
    width: 327px;
    height: 662px;
    left: 24px;
    top: 1439px;
  }
  .patternLines {
    display: none;
  }
  .picture {
    position: absolute;
    width: 327px;
    height: 400px;
    left: calc((100% - 327px) / 2);
    top: 1419px;
  }
  .descriptionBox {
    width: 327px;
    height: 214px;
    left: calc((100% - 327px) / 2);
    top: 1887px;
  }
  .header {
    height: 80px;
    width: 100%;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.4px;
    margin-bottom: 13px;
  }
  .content {
    width: 327px;
    height: 78px;
    font-size: 16px;
    line-height: 26px;
    margin: 0px;
  }
}
