.box {
  position: absolute;
  width: 540px;
  height: 545px;
  left: 735px;
  top: 258px;
  background: #ffffff;
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
  text-align: center;
}

.reservationBox {
  margin: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #242b37;
}

.heading {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 80px;
  letter-spacing: -1px;
  color: #242b37;
  text-align: center;
  margin-bottom: 0px;
}

.textHeader {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 80px;
  letter-spacing: -1px;
  color: #242b37;
  text-align: center;
  margin: 0px;
}

.dataBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  justify-content: space-evenly;
}

.nameText {
  font-size: 30px;
  margin: 0px;
  margin-top: 10px;
  word-break: break-all;
}

.emailText {
  margin-top: 5px;
  word-break: break-all;
}

.timeText {
  margin-top: 0;
}

.detailsBox {
  display: flex;
  flex-direction: row;
}

.image {
  width: 240px;
  height: 300px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.detailsText {
  width: 240px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #9e7f66;
  margin-left: 10px;
}

.tableText {
  margin: 0;
}

@media (max-width: 1120px) {
  .box {
    left: calc((100% - 540px) / 2);
    top: 385px;
  }
}

@media (max-width: 600px) {
  .box {
    width: 327px;
    height: 585px;
    left: calc((100% - 327px) / 2);
    top: 463px;
  }
  .image {
    width: 128px;
    height: 96px;
  }
  .heading {
    font-size: 22px;
    line-height: 40px;
    letter-spacing: -0.4px;
  }
  .textHeader {
    font-weight: 400;
  }
  .detailsBox {
    flex-direction: column;
  }
  .detailsText {
    height: 240px;
    border: none;
  }
  .nameText {
    font-size: 22px;
  }
  .emailText {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .dateText {
    margin: 0;
    margin-bottom: 5px;
  }
  .timeText {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
