.box {
  background-color: #ffffff;
  height: 320px;
  width: 100%;
  background-image: url(../../../images/patterns/pattern-curve-bottom-right.svg);
  background-repeat: no-repeat;
}

.patternLines {
  position: absolute;
  width: 160px;
  height: 76px;
  left: 655px;
  top: 765px;
}

@media (max-width: 1100px) {
  .box {
    height: 440px;
    background-image: none;
  }
  .patternLines {
    display: none;
  }
}

@media (max-width: 600px) {
  .box {
    height: 534px;
  }
}
