.picture {
  width: 540px;
  height: 600px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 1400px) {
  .picture {
    width: 440px;
    height: 520px;
  }
}

@media (max-width: 1120px) {
  .picture {
    position: absolute;
    left: calc((100% - 573px) / 2);
    width: 573px;
    height: 360px;
  }
}

@media (max-width: 740px) {
  .picture {
    width: 500px;
    height: 320px;
    left: 0;
  }
}

@media (max-width: 600px) {
  .picture {
    width: 326px;
    height: 400px;
    left: 0;
  }
}
