.box {
  width: 100%;
  height: 761px;
  left: 0px;
  top: 2231px;
  background: #111111;
  font-family: "League Spartan";
  color: #ffffff;
  text-align: left;
}

.boxContent {
  display: flex;
  flex-direction: row;
}

.descriptionBox {
  position: absolute;
  width: 445px;
  height: 275px;
  left: 165px;
  top: 2431px;
}

.divideIcon {
  height: 7px;
  width: 71px;
  left: 799px;
  top: 995px;
  border-radius: 0px;
  margin-bottom: 55px;
}

.header {
  height: 96px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.5px;
}

.content {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 1400px) {
  .descriptionBox {
    position: relative;
    width: 350px;
    height: 300px;
    left: calc((100vw - 980px) / 2);
    top: 170px;
  }
  .header {
    font-size: 40px;
  }
}

@media (max-width: 1120px) {
  .box {
    width: 100%;
    height: 991px;
  }
  .descriptionBox {
    position: absolute;
    width: 445px;
    height: 259px;
    left: calc((100% - 445px) / 2);
    top: 2578px;
    text-align: center;
    margin-bottom: 54px;
  }
  .divideIcon {
    margin-bottom: 39px;
  }
}

@media (max-width: 740px) {
  .descriptionBox {
    top: 2505px;
  }
}

@media (max-width: 600px) {
  .box {
    width: 100%;
    height: 1720px;
  }
  .descriptionBox {
    width: 327px;
    height: 1546px;
    left: calc((100vw - 327px) / 2);
    top: 2292px;
  }
  .header {
    width: 327px;
    height: 80px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.4px;
    margin-left: calc((100% - 327px) / 2);
  }
  .content {
    width: 327px;
    height: 78px;
    font-size: 16px;
    line-height: 26px;
    margin-left: calc((100% - 327px) / 2);
  }
}
