.dishesBox {
  display: flex;
  flex-direction: row;
  width: 540px;
  height: 96px;
  margin-bottom: 24px;
}

.dishName {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.25px;
  margin: 0px;
  margin-bottom: 6px;
  margin-top: 8px;
}
.dishDescription {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 350px;
  height: 52px;
  margin: 0px;
}

.dishPicture {
  width: 128px;
  height: 96px;
}

.brownLine {
  margin-top: 18px;
  width: 32px;
  height: 1px;
  background: #9e7f66;
  margin-right: 30px;
}

.divider {
  width: 540px;
  height: 1px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.15;
  margin-bottom: 24px;
}

.menuBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 386px;
  height: 540px;
  left: 735px;
  top: 2486px;
}

@media (max-width: 1100px) {
  .menuBox {
    width: 573px;
    height: 386px;
    left: 97px;
    top: 2891px;
  }
}

@media (max-width: 600px) {
  .dishesBox {
    flex-direction: column;
    width: 327px;
    height: 363px;
    text-align: center;
  }
  .menuBox {
    left: calc((100% - 327px) / 2);
    top: 2573px;
  }
  .dishPicture {
    width: 327px;
    height: 245px;
  }
  .brownLine {
    display: none;
  }
  .divider {
    width: 327px;
  }
  .dishDescription {
    width: 327px;
    height: 52px;
  }
  .textBox {
    margin-top: 36px;
  }
}
