.box {
  position: absolute;
  width: 540px;
  height: 545px;
  left: calc((100vw - 540px + 445px) / 2);
  top: 258px;
  background: #ffffff;
  box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
}

.formContent {
  position: absolute;
  top: calc((100% - 447px) / 2);
  left: calc((100% - 444px) / 2);
  height: 447px;
  width: 444px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  width: 90px;
  height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #111111;
  margin-top: 9px;
}

.labelError {
  width: 90px;
  height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #b54949;
  margin-top: 9px;
}

.fieldDate {
  width: 64px;
  height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #111111;
  border-radius: 0;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #c6c6c6;
  border-width: 1px;
  padding-bottom: 14px;
  padding-left: 16px;
  caret-color: #9e7f66;
}

.fieldDateError {
  width: 64px;
  height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #b54949;
  border-style: solid;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #b54949;
  border-width: 1px;
  padding-bottom: 14px;
  padding-left: 16px;
  caret-color: #9e7f66;
}

.fieldDateError:focus {
  outline: none;
}

.fieldDateError::placeholder {
  color: #b54949;
  opacity: 0.5;
}

.fieldDate:focus {
  outline: none;
}

.fieldDateBigger {
  width: 81px;
  height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #111111;
  border-style: solid;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #c6c6c6;
  border-width: 1px;
  padding-bottom: 14px;
  padding-left: 16px;
  caret-color: #9e7f66;
}

.fieldDateBigger:focus {
  outline: none;
}

.fieldDateBiggerError::placeholder {
  color: #b54949;
  opacity: 0.5;
}

.fieldDateBiggerError {
  width: 81px;
  height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #b54949;
  border-style: solid;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #b54949;
  border-width: 1px;
  padding-bottom: 14px;
  padding-left: 16px;
  caret-color: #9e7f66;
}

.fieldDateBiggerError:focus {
  outline: none;
}

.select {
  width: 90px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #111111;
  border-style: solid;
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #c6c6c6;
  border-width: 1px;
  padding-bottom: 14px;
  padding-left: 16px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../../../images/icons/icon-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 8px;
}

.select:focus {
  outline: none;
}

.option {
  background-color: red;
}

.button {
  background: #111111;
  width: 444px;
  height: 64px;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 2.5px;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.button:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #111111;
  border: 1px solid #111111;
}

.button:disabled {
  cursor: not-allowed;
  background: #111111;
  color: #ffffff;
}

.dateBox {
  width: 444px;
  height: 43px;
  display: flex;
  flex-direction: row;
  width: 444px;
  justify-content: space-between;
}

.dateInputsBox {
  width: 289px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.errorMessageDate {
  color: #b54949;
  font-weight: 500;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: -0.125px;
}

.errorMessageBox {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1400px) {
  .box {
    left: calc((100vw - 540px + 345px) / 2);
    top: 485px;
  }
}

@media (max-width: 1120px) {
  .box {
    left: calc((100% - 540px) / 2);
    top: 385px;
  }
}

@media (max-width: 600px) {
  .box {
    width: 327px;
    height: 585px;
    left: calc((100% - 327px) / 2);
    top: 463px;
  }
  .formContent {
    width: 263px;
    height: 519px;
    left: calc((100% - 263px) / 2);
    top: calc((100% - 519px) / 2);
  }
  .dateBox {
    width: 263px;
    height: 79px;
    flex-direction: column;
  }
  .dateInputsBox {
    width: 263px;
    height: 43px;
  }
  .fieldDate {
    width: 32px;
    height: 30px;
    padding-left: 14.6px;
    padding-right: 28px;
  }
  .fieldDateError {
    width: 32px;
    height: 30px;
    padding-left: 14.6px;
    padding-right: 28px;
  }
  .label {
    margin: 0;
    margin-bottom: 8px;
  }
  .fieldDateBigger {
    width: 49.64px;
    height: 30px;
    padding-left: 14.6px;
    padding-right: 28px;
  }
  .fieldDateBiggerError {
    width: 49.64px;
    height: 30px;
    padding-left: 14.6px;
    padding-right: 28px;
  }
  .button {
    width: 263px;
    height: 64px;
  }
}
